@import "./base.css";

body {
  background-color: var(--app-background-color);
}

.section:not(:first-of-type):not(.hr) {
  margin-top: 0.5rem;
}

input, button {
  border: 2px solid var(--app-divider-color);
}
input {
  border-radius: 0;
}
input, select {
  font-size: var(--app-font-size);
}
button {
  border-radius: var(--app-border-radius);
}

hr {
  border: 1px solid var(--app-divider-color);
  margin-block: 0.5rem;
}

body {
  height: 100vh;
}

.ml-auto {
  margin-left: auto;
}

.pointer {
  cursor: pointer;
}