@import "./base.css";

#app {
  background-color: var(--app-background-color);
  color: var(--app-text-color);
}

.section:not(:first-of-type):not(.hr) {
  margin-top: 0.5rem;
}

input, button, select
{
  background-color: var(--app-background-color);
  border-color: var(--app-background-color);
  color: var(--app-text-color);
  cursor: pointer;
  transition: background-color 150ms;
}

.fg input, .fg button, .fg select {
  background-color: var(--app-foreground-color);
}

input:hover, button:hover, select:hover {
  background-color: var(--app-foreground-hover-color);
}

input, button {
  border: 2px solid var(--app-divider-color);
}
input {
  border-radius: 0;
}
input, select {
  font-size: var(--app-font-size);
}
button {
  border-radius: var(--app-border-radius);
}

hr {
  border: 1px solid var(--app-divider-color);
  margin-block: 0.5rem;
}

#app {
  height: 100vh;
}

.ml-auto {
  margin-left: auto;
}

.pointer {
  cursor: pointer;
}